  <html>
  <head>
    <title>MIED architect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href="../static/css/about.css">
    <script src="../static/js/main.js"></script>
  </head>
  <body>
  <div class="back">
    <a href="../index.html">
      <p>back</p>
    </a>
  </div>
  <div class="tagline">
   <p>MIED</p>
  </div>
  <div class="info-cotainer">
  <div class="person">
    <div class="name"><p id="name">Maninder Matharu</p><p class="bottom"></p></div>
    <p class="bio">
      " The key to great design is capturing the spirit of the client and the essence of the space". With a firm belief on self, being an architectural composer M.i.e.d. initiated to pen down the dreams of the people since golden year 2009.<br>
M.i.e.d. lives to design not design to live. Being the creative artists of the future we understand the process & our clients appreciate the product. We try new things, explore different materials and incorporate emerging technologies in to every project as YOUR SATISFACTION IS OUR MAIN CONCERN.
  </p>
  </div>
  <div class="pic">
    <img src="../static/images/mied.jpg" style="width: 40vw;
height: 90vh;
z-index: -1;
right:-10vw;
">
  </div>
  </div>
  <div class="achieve tagline">
    <p>Achievement</p>
  </div>
  <div class="achievement">
    <div class="item">
      <img src="../static/images/achieve/seven.jpg">
    </div>
    <div class="item">
      <img src="../static/images/achieve/two.jpg">
    </div>
    <div class="item media_check">
      <img src="../static/images/achieve/one.jpg">
    </div>
    <div class="item margin-care">
      <img src="../static/images/achieve/four.jpg">
    </div>
    <div class="item  media_check2">
      <img src="../static/images/achieve/six.jpg">
    </div>
    <div class="item top_magrin_care">
      <img src="../static/images/achieve/five.jpg">
    </div>
    </div>
  </body>
  </html>
