<html>
<head>
  <title>MIED architect</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/about.css">
  <script src="https://use.fontawesome.com/b87a298baf.js"></script>
  <script src="../static/js/jquery.js"></script>
  <script src="../static/js/main.js"></script>
</head>
<body>
<div class="back">
  <a href="../index.html">
    <p>back</p>
  </a>
</div>
<div class="tagline">
 <p>MIED</p>
</div>
<div class="info-cotainer">
<div class="person">
  <div class="name"><p id="name">Maninder Matharu</p><p class="bottom"></p></div>
  <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit diam mi, nec dapibus mi commodo eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam iaculis, orci nec vehicula aliquam, nibh augue maximus nibh, sed sodales nibh erat sed elit. Phasellus fermentum, libero et suscipit rutrum, elit quam lacinia quam, nec condimentum nunc velit at tellus. Aliquam id turpis nulla. Quisque a eros justo. Phasellus sit amet lorem quam. Aliquam erat volutpat. Vestibulum facilisis eleifend orci in rutrum. In hac habitasse platea dictumst. Duis hendrerit interdum tempor. Fusce sed eleifend lectus, sed aliquam orci. Cras rutrum scelerisque velit sit amet ultrices. Nunc vel erat massa.

Phasellus viverra est ipsum. Donec pharetra volutpat maximus. Cras fringilla, metus et lacinia vulputate, ante tortor efficitur neque, vel ultrices magna diam nec tortor. Curabitur luctus massa sed nulla hendrerit cursus. Nulla non rutrum nunc. Proin nec mi eu nisl sagittis suscipit sed a eros. Nam porta nulla mauris, eget dictum est laoreet quis. Quisque sit amet elit in lectus imperdiet vestibulum a non purus. Pellentesque vestibulum suscipit augue, vel auctor diam feugiat imperdiet.
</p>
</div>
<div class="pic">
  <p><img src="../static/images/frontview/mied.jpg"></p>
</div>
</div>
<div class="achieve tagline">
  <p>Achievement</p>
</div>
<div class="achievement">
  <div class="item">
    <img src="../static/images/achieve/seven.jpg">
  </div>
  <div class="item">
    <img src="../static/images/achieve/two.jpg">
  </div>
  <div class="item media_check">
    <img src="../static/images/achieve/one.jpg">
  </div>
  <div class="item margin-care">
    <img src="../static/images/achieve/four.jpg">
  </div>
  <div class="item  media_check2">
    <img src="../static/images/achieve/six.jpg">
  </div>
  <div class="item top_magrin_care">
    <img src="../static/images/achieve/five.jpg">
  </div>
  </div>
</body>
</html>
