<html>
<head>
  <title>MIED architect</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/about.css">
  <script src="https://use.fontawesome.com/b87a298baf.js"></script>
  <script src="../static/js/jquery.js"></script>
  <script src="../static/js/main.js"></script>
</head>
<body>
  <div class="back">
    <a href="../index.html">
      <p>back</p>
    </a>
  </div>
  <div class="achievement work">
    <div class="item">
      <img src="../static/images/frontview/one.jpg">
    </div>
    <div class="item">
      <img src="../static/images/frontview/two.jpg">
    </div><div class="item">
      <img src="../static/images/frontview/three.jpg">
    </div><div class="item">
      <img src="../static/images/frontview/four.jpg">
    </div><div class="item">
      <img src="../static/images/frontview/five.jpg">
    </div><div class="item">
      <img src="../static/images/frontview/six.jpg">
    </div><div class="item">
      <img src="../static/images/frontview/seven.jpg">
    </div><div class="item">
      <img src="../static/images/frontview/eight.jpg">
</div>
</body>
</html>
