<html>
<head>
  <title>MIED architect</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/about.css">
  <script src="https://use.fontawesome.com/b87a298baf.js"></script>
  <script src="../static/js/jquery.js"></script>
  <script src="../static/js/main.js"></script>
</head>
<body>
  <div class="back">
    <a href="../index.html">
      <p>back</p>
    </a>
  </div>
  <div class="achievement work">
    <div class="item">
      <img src="../static/images/interior/one.jpg">
    </div>
    <div class="item">
      <img src="../static/images/interior/two.jpg">
    </div><div class="item">
      <img src="../static/images/interior/three.jpg">
    </div><div class="item">
      <img src="../static/images/interior/four.jpg">
    </div><div class="item">
      <img src="../static/images/interior/five.jpg">
    </div><div class="item">
      <img src="../static/images/interior/six.jpg">
    </div><div class="item">
      <img src="../static/images/interior/seven.jpg">
    </div><div class="item">
      <img src="../static/images/interior/eight.jpg">
    </div><div class="item">
      <img src="../static/images/interior/nine.jpg">
    </div><div class="item">
      <img src="../static/images/interior/ten.jpg">
    </div><div class="item">
      <img src="../static/images/interior/eleven.jpg">
    </div><div class="item">
      <img src="../static/images/interior/twelve.jpg">
    </div><div class="item">
      <img src="../static/images/interior/thireen.jpg">
    </div><div class="item">
      <img src="../static/images/interior/foutreen.jpg">
    </div><div class="item">
      <img src="../static/images/interior/fifteen.jpg">
    </div>
</div>
</body>
</html>
